<% provide(:title, 'About As') %>

<div class="row-fluid">         
  <div class="span5 hero-unit"> 
    <p>Side 1</p>               
  </div>                        
  <div class="span7 hero-unit"> 
    <p>Side 2</p>               
  </div>                        
</div>                            
