<% provide(:title, "Ours contacts") %>

<div class="row-fluid">         
  <div class="span5 well"> 
    <p>Side 1</p>               
  </div>                        
  <div class="span7 well"> 
    <p>Side 2</p>               
  </div>                        
</div>                            
