<% provide(:title, "Help") %>

<div class="container-fluid">     
  <div class="row-fluid">         
    <div class="span3 hero-unit"> 
      <p>Side 1</p>               
    </div>                        
    <div class="span9 hero-unit"> 
      <p>Side 2</p>               
    </div>                        
</div>                            
