<% provide(:title, "Home page") %>

<div class="row-fluid">         
  <div class="span3 hero-unit"> 
      <%= link_to "Add genre", new_genre_url %>
  </div>                        
  <div class="span9 hero-unit center"> 
    <h3>
      Genres
    </h3>
    <%= render @genres %>
  </div>                        
</div>                          
