  <%= f.hidden_field :album_id %>
<p>                              
  <%= f.label :name %>            
  <%= f.text_field :name %>      
</p>                             
<p>
  <%= f.file_field :image %>
</p>
