<% provide(:title, 'Edit album') %>
<h1>Edit album</h1>

<div class="row">
  <div class="span2">
    <%= form_for(@album) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>

      <%= f.submit "Save", class: "btn" %>
    <% end %>
  </div>
</div>
